.post {
    display: flex;
    align-items: flex-start;
    border-bottom: 1px solid whitesmoke;
    padding-bottom: 10px;
    border-top: 1px solid whitesmoke;
    margin-top: 1rem;
  }
  
  .post__body {
    flex: 1;
    padding: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

  }
  
  .post__body > img {
    border-radius: 20px;
  }
  
  .post__footer {
    display: flex;
    justify-content:space-between;
    margin-top: 20px;
  }
  
  .post__headerDescription {
    margin-bottom: 10px;
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

  }
  
  .post__headerText > h4 {
    font-size: 15px;
    padding-top: 1rem;
    margin-bottom: 1rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

  }
  
  .post__badge {
    font-size: 14px !important;
    color: black ;
  }
  
  .post__headerSpecial {
    font-weight: 600;
    font-size: 0.8rem;
    color: rgb(0, 0, 0);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  
  .post__avatar {
    padding: 20px;
  }