.feed{
    flex: 0.6;
    border-right: 1px solid whitesmoke;     
    overflow-y: scroll;
    cursor: pointer;
    user-select: none;
}
.feed::-webkit-scrollbar{
    display: none;
}
/* Hide scrollbar for IE, Edge and Firefox */
.feed {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

.header{
    margin-top: 2rem;
    /* position: sticky; */
    top: 0;
    /* background-color: white; */
    z-index: 100;
    border:1px solid none ;
    padding: 1rem 1rem;
}