.postBox{
    margin: 0%;
}

#fullWidth{
    padding:2%;
    margin: 1%;
    text-align: center;
    cursor: pointer;
}

.avatar{
    margin: 2%;
}
#button{
    margin-top: 20px !important;
    margin-left: 0.8rem !important;

}
#button2{
    margin-top: 20px !important;
    margin-left: 55%;
}